extends ../components/base/layout


block main
  main
    div dfgfh
      p qwerty
    //- на странице запрещен "голый" код
    //- все блоки вставляются из папки pug/components/blocks
    //- +intro()
