mixin offer()
  section.offer
    .container
      h2.offer__title Примите участие в программе субсидирования лизинга
      .offer__content
        .offer__info.swipe
          .offer__info-list.swiper-wrappe
            .offer__info-item.swiper-slid
              .offer__info-title
                +imgsvg('svg', 'logo-chetra-small', 'svg', 62, 16, 'логотип Четра')
                h3 Субсидирование лизинга
              .offer__info-description
                h3 Субсидирование лизинга специализированной техники и оборудования в 2024г
                p Постановление Правительства РФ от 3 июня 2020 г. №&nbsp;811 “Об утверждении Правил предоставления субсидии из федерального бюджета на возмещение потерь в доходах российских лизинговых организаций при предоставлении лизингополучателю скидки по уплате авансового платежа по договорам лизинга специализированной техники и (или) оборудования”
            .offer__info-item.swiper-slid
              .offer__info-title
                +imgsvg('svg', 'logo-chetra-small', 'svg', 62, 16, 'логотип Четра')
                h3 Выгода потребителя
              .offer__info-description
                h3 Субсидия может составлять (п.4 Постановления)
                p До 15% от цены техники на условии “франко-завод” (с учетом НДС), указанной в договоре купли-продажи (поставки), в случае, если техника по договору лизинга передается на территории:
                ul.offer__info-list
                  li ДФО
                  li СФО
                  li НАО и ЯНАО
                  li Карелии, Коми, Архангельской, Калининградской, Мурманской областей
                  li Республики Крым, Севастополя
                p До 10% от цены техники на условии “франко-завод” (с учетом НДС) для остальных субъектов
            .offer__info-item.swiper-slid
              .offer__info-title
                +imgsvg('svg', 'logo-chetra-small', 'svg', 62, 16, 'логотип Четра')
                h3 Условия получения субсидии
              .offer__info-description
                h3 Субсидии предоставляются при соблюдении следующих основных условий
                ul.offer__info-list
                  li Техника произведена не ранее чем за 3 года до года заключения договора лизинга, ранее не передавалась в лизинг, не была в собственности физического лица и не находилась на регистрационном учете
                  li На технику выдано заключение по ПП РФ № 719
                  li Договор лизинга заключен не ранее 1 ноября 2023г, передача техники лизингополучателю осуществлена не ранее 1 января 2024г

        .offer__buttons
          .offer__button
            .offer__button-img
              +icon('subsidy', 50, 50)
            h3.offer__button-title Субсидирование лизинга техники
          .offer__button
            .offer__button-img
              +icon('discount', 50, 50)
            h3.offer__button-title Скидка до 15% на технику ЧЕТРА
          .offer__button
            .offer__button-img
              +icon('conditions', 50, 50)
            h3.offer__button-title Условия получения субсидии
