.footer {
  display: flex;
  padding: 20px 0;
  height: 500px;
}

.footer__left {
  display: flex;
  justify-content: flex-end;
  padding: 25px 50px 25px;
  background-color: $color-smalt;
  width: 50%;
}

.footer__right {
  width: 50%;
}
