.info {
  background-color: $color_smalt;
  padding: 10px 0 10px;

}

.info__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
}

.info__address {
  font-size: 30px;
  line-height: normal;
  color: $color-lavender-blue;
  margin: 0;
}

.info__phone {
  display: flex;
  gap: 15px
}

.info__email {
  display: flex;
  gap: 15px
}

.btn.btn-info {
  align-items: center;
  font-size: 22px;
  font-weight: 400;
  line-height: normal;
  color: $color-lavender-blue;
  padding: 0;
  margin: 0;
  background-color: transparent;
  text-transform: lowercase;
}
