.page-banner {
  padding-bottom: 20px;
}

.page-banner__wrapper {
  position: relative;
}

.page-banner__title {
  font-size: 56px;
  margin: 0;
  position: absolute;
  color: $color-smalt;
  left: 50px;
  top: 50px;
  text-transform: uppercase;

  @include vp-1279 {
    font-size: 42px;
  }

  @include vp-1023 {
    font-size: 32px;
    left: 40px;
    top: 40px;
  }

  @include vp-767 {
    font-size: 26px;
    position: static;
    padding: 10px 0;
    text-align: center;
  }

  &.title-chetra {
    color: $color-mardi-gras;
    opacity: 0.8;
  }
}
