//- Base

include ./base/header
include ./base/footer
include ./base/modal

//- Utils

include ./utils/icon
include ./utils/img
include ./utils/img-svg
include ./utils/picture
include ./utils/sprite

//- Modals

include ./modals/modal-feedback
include ./modals/modal-success

//- Blocks

//- include ./blocks/intro
include ./blocks/banner
include ./blocks/info
include ./blocks/catalog-chetra
include ./blocks/catalog-vipo
include ./blocks/aside-menu-chetra
include ./blocks/aside-menu-vipo
include ./blocks/buldozers-list
include ./blocks/pipes-list
include ./blocks/loaders-list
include ./blocks/mini-loaders-list
include ./blocks/exkavators-list
include ./blocks/agp-list
include ./blocks/kmu-list
include ./blocks/bkm-list
include ./blocks/crane-list
include ./blocks/kmu-tractor-list
include ./blocks/garbage-list
include ./blocks/info-chetra-t9
include ./blocks/info-chetra-t11
include ./blocks/info-chetra-t15
include ./blocks/info-chetra-t25
include ./blocks/info-chetra-t20
include ./blocks/info-chetra-t35
include ./blocks/info-chetra-t40





//- Mixins

include ./mixins/btn
include ./mixins/custom-input
include ./mixins/custom-select
include ./mixins/custom-textarea
include ./mixins/custom-toggle
include ./mixins/page-banner
include ./mixins/breadcrumbs


